<h1> follow up of previous pandas file but with different data set

In [4]:
import pandas as pd 
import numpy as np

In [7]:
company = pd.read_csv('Fortune 500 Companies US.csv', encoding='cp1252')
company.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"

In [15]:
sectors = company.groupby('Revenues')

len(company)

sectors.size()

Revenues
$1,00,288    1
$1,05,486    1
$1,07,162    1
$1,07,567    1
$1,15,337    1
            ..
$90,272      1
$93,662      1
$94,176      1
$94,571      1
$94,595      1
Length: 495, dtype: int64

In [17]:
ranks = company.groupby('Previous Rank')

ranks.size().sort_values(ascending=False)

Previous Rank
102.0    2
453.0    2
2.0      1
3.0      1
4.0      1
        ..
22.0     1
23.0     1
24.0     1
25.0     1
761.0    1
Length: 490, dtype: int64

In [19]:
ranks.first()   # ranking based on previous rank

,Rank,Company Name,Number of Employees,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Previous Rank,,,,,,,,,
1.0,1,Walmart,"23,00,000","$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
2.0,4,Exxon Mobil,"72,700","$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
3.0,3,Apple,"1,16,000","$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
4.0,2,Berkshire Hathaway,"3,67,700","$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
5.0,5,McKesson,"68,000","$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"
...,...,...,...,...,...,...,...,...,...
588.0,383,Tesla,"30,025","$7,000",73.0%,-$674.9,-,"$22,664","$45,390"
637.0,421,Builders FirstSource,"14,000","$6,367",78.6%,$144.3,-,"$2,910","$1,669"
640.0,415,CalAtlantic Group,"3,055","$6,477",83.0%,$484.7,127.0%,"$8,709","$4,291"
686.0,427,TreeHouse Foods,"16,027","$6,175",92.6%,-$228.6,-298.9%,"$6,546","$4,813"
761.0,467,Olin,"6,400","$5,551",94.5%,-$3.9,-,"$8,763","$5,444"

In [20]:
ranks.last()

,Rank,Company Name,Number of Employees,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Previous Rank,,,,,,,,,
1.0,1,Walmart,"23,00,000","$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
2.0,4,Exxon Mobil,"72,700","$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
3.0,3,Apple,"1,16,000","$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
4.0,2,Berkshire Hathaway,"3,67,700","$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
5.0,5,McKesson,"68,000","$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"
...,...,...,...,...,...,...,...,...,...
588.0,383,Tesla,"30,025","$7,000",73.0%,-$674.9,-,"$22,664","$45,390"
637.0,421,Builders FirstSource,"14,000","$6,367",78.6%,$144.3,-,"$2,910","$1,669"
640.0,415,CalAtlantic Group,"3,055","$6,477",83.0%,$484.7,127.0%,"$8,709","$4,291"
686.0,427,TreeHouse Foods,"16,027","$6,175",92.6%,-$228.6,-298.9%,"$6,546","$4,813"
761.0,467,Olin,"6,400","$5,551",94.5%,-$3.9,-,"$8,763","$5,444"

In [ ]:
sectors.groups

{'$1,00,288': [21], '$1,05,486': [20], '$1,07,162': [19], '$1,07,567': [18], '$1,15,337': [17], '$1,17,351': [16], '$1,18,719': [15], '$1,21,546': [14], '$1,25,980': [13], '$1,26,661': [12], '$1,35,987': [11], '$1,46,850': [10], '$1,51,800': [9], '$1,63,786': [8], '$1,66,380': [7], '$1,77,526': [6], '$1,84,840': [5], '$1,92,487': [4], '$10,074': [282], '$10,137': [281], '$10,163': [280], '$10,183': [279], '$10,261': [278], '$10,398': [277], '$10,497': [276], '$10,508': [275], '$10,534': [274], '$10,536': [273], '$10,597': [272], '$10,630': [271], '$10,635': [270], '$10,636': [269], '$10,647': [268], '$10,743': [267], '$10,776': [266], '$10,782': [265], '$10,825': [264], '$10,842': [263], '$10,846': [262], '$10,875': [261], '$10,888': [260], '$10,950': [259], '$10,964': [258], '$11,047': [257], '$11,069': [256], '$11,107': [255], '$11,155': [254], '$11,229': [253], '$11,262': [252], '$11,325': [251], '$11,361': [250], '$11,407': [249], '$11,410': [248], '$11,449': [247], '$11,507': [246], '$11,522': [245], '$11,538': [244], '$11,540': [243], '$11,572': [242], '$11,584': [241], '$11,663': [240], '$11,668': [239], '$11,735': [238], '$11,737': [237], '$11,742': [236], '$11,856': [235], '$11,869': [234], '$12,075': [233], '$12,104': [232], '$12,157': [231], '$12,197': [230], '$12,207': [229], '$12,351': [228], '$12,394': [226, 227], '$12,399': [225], '$12,483': [224], '$12,488': [223], '$12,503': [222], '$12,513': [221], '$12,547': [220], '$12,574': [219], '$12,867': [218], '$12,919': [217], '$12,994': [216], '$13,014': [215], '$13,058': [214], '$13,072': [213], '$13,105': [212], '$13,144': [211], '$13,153': [210], '$13,211': [209], '$13,233': [208], '$13,264': [207], '$13,330': [206], '$13,370': [205], '$13,487': [204], '$13,502': [203], '$13,585': [202], '$13,599': [201], '$13,609': [200], ...}